#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk

PACKAGE              := $(DEB_SOURCE_PACKAGE)
VERSION              := $(DEB_UPSTREAM_VERSION)
JAVA_HOME            := /usr/lib/jvm/default-java
DEB_JARS             := 
DEB_ANT_BUILD_TARGET := package
DEB_ANT_BUILDFILE    := ./debian/build.xml
DEB_ANT_ARGS         := -Dpackage=$(PACKAGE) -Dversion=$(VERSION)

# Generation of man pages
SCRIPTS       := $(wildcard src/main/bin/mh_*)
MAN_PAGES     := $(addprefix debian/tmp/doc/,$(addsuffix .1, $(notdir $(SCRIPTS))))
debian/tmp/mh_lib.sh : src/main/share/mh_lib.sh
	mkdir -p debian/tmp
	cp src/main/share/mh_lib.sh debian/tmp/mh_lib.sh
debian/tmp/mh_% : src/main/bin/mh_% debian/tmp/mh_lib.sh
	mkdir -p debian/tmp
	cp $< $@
	perl -i -pe 's,\. /usr/share/maven-repo-helper/mh_lib.sh,\. debian/tmp/mh_lib.sh,' $@
	chmod +x $@
debian/tmp/doc/mh_%.1 : debian/tmp/mh_% 
	mkdir -p debian/tmp/doc
	-grep -q '^#!/bin/bash' $< && help2man -N -o $@ $<
	-grep -q '^#!/usr/bin/perl' $< && pod2man $< > $@
man-pages: $(MAN_PAGES)
build/$(PACKAGE):: man-pages

binary-post-install/$(PACKAGE)::
	dh_install -p$(PACKAGE) build/$(PACKAGE)-$(VERSION).jar /usr/share/maven-repo/org/debian/maven/$(PACKAGE)/$(VERSION)
	dh_install -p$(PACKAGE) src/main/bin /usr
	dh_install -p$(PACKAGE) src/main/share/* /usr/share/$(PACKAGE)
	dh_link -p$(PACKAGE) /usr/share/maven-repo/org/debian/maven/$(PACKAGE)/$(VERSION)/$(PACKAGE)-$(VERSION).jar /usr/share/java/$(PACKAGE).jar
	dh_link -p$(PACKAGE) /usr/share/$(PACKAGE)/postinst.tmpl /usr/share/debhelper/autoscripts/postinst-maven-repo
	dh_link -p$(PACKAGE) /usr/share/$(PACKAGE)/postrm.tmpl /usr/share/debhelper/autoscripts/postrm-maven-repo
	dh_installman $(MAN_PAGES)
	mkdir -p debian/tmp
	java -cp build/$(PACKAGE)-$(VERSION).jar org.debian.maven.repo.POMCleaner --debian-parent pom.xml debian/tmp/$(PACKAGE)-$(VERSION).pom debian/tmp/pom.properties debian/tmp/versions.properties
	dh_install -p$(PACKAGE) --sourcedir=debian/tmp $(PACKAGE)-$(VERSION).pom \
		usr/share/maven-repo/org/debian/maven/$(PACKAGE)/$(VERSION)

clean::
	-rm -r debian/tmp

$(SCRIPTS):
	help2man $(basename )
	
