DEBIAN_POM="/usr/share/maven-repo/org/debian/debian-parent/1.0-SNAPSHOT/debian-parent-1.0-SNAPSHOT.pom"

if [ ! -f $DEBIAN_POM ]; then
    mkdir -p $(dirname $DEBIAN_POM)
    echo "<?xml version="1.0" encoding="UTF-8"?>" > $DEBIAN_POM
    echo "<project>"  >> $DEBIAN_POM
    echo "  <groupId>org.debian</groupId>"  >> $DEBIAN_POM
    echo "  <artifactId>debian-parent</artifactId>"  >> $DEBIAN_POM
    echo "  <version>1.0-SNAPSHOT</version>"  >> $DEBIAN_POM
    echo "  <properties>"  >> $DEBIAN_POM
    echo "  </properties>"  >> $DEBIAN_POM
    echo "</project>"  >> $DEBIAN_POM
fi

add_repo_property() {
    VERSION_PROPERTY=$1
    LIBVER=$2
    if [ $(grep "<${VERSION_PROPERTY}\.version>" $DEBIAN_POM) ]; then
        # Update version
        cat $DEBIAN_POM | sed "s,<${VERSION_PROPERTY}\.version>.*</,<${VERSION_PROPERTY}.version>$LIBVER</," > pom.tmp
    else
        cat $DEBIAN_POM | grep -v "</properties>" | grep -v "</project>" > pom.tmp
        echo "    <${VERSION_PROPERTY}.package>$PACKAGE</${VERSION_PROPERTY}.package>" >> pom.tmp
        echo "    <${VERSION_PROPERTY}.version>$LIBVER</${VERSION_PROPERTY}.version>" >> pom.tmp
        echo "  </properties>"  >> pom.tmp
        echo "</project>"  >> pom.tmp
    fi
    rm $DEBIAN_POM
    mv pom.tmp $DEBIAN_POM
}

if [ "$1" = "configure" ]; then
    echo $LIBRARIES | tr ',' '\n' | while read VERSION_PROPERTY LIBVER; do
        if [ ! -z "$VERSION_PROPERTY" ]; then
            add_repo_property $VERSION_PROPERTY $LIBVER
        fi
    done
fi

#DEBHELPER#
