DEBIAN_POM="/usr/share/maven-repo/org/debian/debian-parent/1.0-SNAPSHOT/debian-parent-1.0-SNAPSHOT.pom"

LIBRARIES="#LIBRARIES#"

remove_repo_property() {
    VERSION_PROPERTY=$1
    cat $DEBIAN_POM | grep -v "<$VERSION_PROPERTY" > pom.tmp
    rm $DEBIAN_POM
    mv pom.tmp $DEBIAN_POM
}

properties_start_tag_line() {
    grep -n "<properties>" $DEBIAN_POM | cut -d':' -f1
}

properties_end_tag_line() {
    grep -n "</properties>" $DEBIAN_POM | cut -d':' -f1
}

if [ "$1" = "remove" ]; then
    echo $LIBRARIES | tr ',' '\n' | while read VERSION_PROPERTY LIBVER; do
        if [ ! -z "$VERSION_PROPERTY" ]; then
            remove_repo_property $VERSION_PROPERTY
        fi
    done
    # Detect if DEBIAN_POM is empty
    TAG_START=$(properties_start_tag_line)
    TAG_END=$(properties_end_tag_line)
    if [ $(($TAG_START+1)) -eq $TAG_END ]; then
        rm $DEBIAN_POM
        rmdir --ignore-fail-on-non-empty -p $(dirname $DEBIAN_POM)
    fi
fi

